.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .logo {
    position: relative;
    width: 50%;
    height: 100%;
    background: url(../assets/images/logo.jpeg) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #2f2f2f;
}

.container .logo span {
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    color: #fff;
    font-size: 50px;
}

.container .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.container .login .wrapper {
    width: 400px;
    text-align: center;
}

.container .login .wrapper .title {
    font-size: 28px;
    letter-spacing: 20px;
    text-align: center;
}

.container .login .wrapper .form-item {
    position: relative;
    margin-top: 20px;
    text-align: left;
    font-size: 0;
}

.container .login .wrapper .form .active .label{
    transform: translateY(-25px) scale(.8, .8);
}

.container .login .wrapper .form-item .label {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: -8px;
    left: 20px;
    color: #999;
    padding: 0 10px;
    font-size: 16px;
    line-height: 16px;
    background-color: #fff;
    transition: all .2s linear;
}

.container .login .wrapper .form-item input{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 8px;
    font-size: 22px;
    color: #333;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: transparent;
}

.container .login .wrapper .form-item input:focus { outline: none; }

#code {
    width: 50%;
    float: left;
    margin-right: 20px;
}

.container .login .wrapper .form-item .get-code {
    width: 180px;
    height: 50px;
    background-color: #2f2f2f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container .login .wrapper .form-item input::placeholder {
    color: #ccc;
}

.container .login .wrapper .submit {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #2f2f2f;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container .login .wrapper .submit:active {
    opacity: .8;
}